<mat-accordion multi="true" *ngIf ="patient.length>0">
  <mat-expansion-panel *ngFor= "let patient of patient">
    <mat-expansion-panel-header>
      {{patient.firstName}}, {{patient.lastName}}
    </mat-expansion-panel-header>
    <p> <b>Patient Username:</b> {{patient.username}} <br><br>
      <b>Patient Password:</b> {{patient.password}} <br><br>
      <b>Patient Type: </b>{{patient.patientType}} <br><br> 
      <b>Symptoms:</b> {{patient.symptoms}} <br><br>
      <b>Status:</b> Pending</p>

    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn">Delete</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<p class = "info-text mat-body-1" *ngIf= "patient.length == 0"> There are not test yet at the moment. Please proceed to record a new test.</p>