<div class="page-header">
  <h2 class="page-title" >
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-new-box"></i>
    </span>
    Register New Test
  </h2>
</div>

<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;"><b>Registering New Test</b></h4>
      <p class="card-description" style="text-align: center;">
        Please enter the following information to proceed
      </p>
      <form class="forms-sample">
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Username</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleName" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="exampleInputMobile" placeholder="Patient name">
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputPatientType" class="col-sm-4 col-form-label">Patient Type</label>
            <div class="form-group row">
              <div class="col-sm-2.5">
                <div style="padding-right:40px;" class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                    Returnee
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>

              <div class="col-sm-2.5">
                <div style="padding-right:40px;" class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                    Quarantined
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>

              <div class="col-sm-2.5">
                <div style="padding-right:40px;" class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                    Close Contact
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>

              <div class="col-sm-2.5">
                <div style="padding-right:40px;" class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                    Infected
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>

              <div class="col-sm-2.5">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                    Suspected
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="exampleName" class="col-sm-3 col-form-label">Symptoms</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
            </div>
          </div>

         
        <button type="submit" style ="float: right;" class="btn btn-gradient-primary">Submit</button>
        <button style ="float: right;" class="btn btn-light mr-2">Cancel</button>
      </form>
    </div>
  </div>
</div>
