<div fxLayoutAlign = "center center" fxFlexFill class="main-div">
        <mat-card fxFlex="30">
            <p>
                <mat-toolbar color = "primary">
                  <span style = "font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Login Page</span>
                </mat-toolbar>
              </p>

                    <mat-form-field appearance="fill" fxLayoutAlign ="stretch" fxLayout ="column" class ="login-form">
                        <mat-label>Enter Username</mat-label>
                        <input matInput placeholder="Tommy" required>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" fxLayoutAlign ="stretch" fxLayout ="column" class ="login-form">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>     

                    <div>
                        <section class="example-section" class = "login-form">
                            <mat-checkbox color = "warn" class="example-margin">Remember Me</mat-checkbox>
                            <span class="psw" style ="float:right;">Forgot <a href="#">password?</a></span>
                        </section>
                    </div>

            <button style = "float : right; padding-bottom: 10px;" mat-button color="primary" (click) = 'ValidateUser()'>Log In</button>
            <button style = "float : right;" mat-button color="warn">Cancel</button>
    
                
        </mat-card>
    </div>