<mat-nav-list>
    <div class="profile-card">
      <div class="profile-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1UGbv6ET-vV9HUSjK6JenLo6Uj1-4CkabzQ&usqp=CAU" alt="profile_image">
      </div>
      <div class="profile-details">
        <h2>Gustov Diklic</h2>
        <h4>gustov.diklic@kkmalaysia.com</h4>
      </div>
    </div>
  
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Pages</h2>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="tester-dashboard"><mat-icon color="primary">dashboard</mat-icon>Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="record-new-test"><mat-icon color="primary">add new</mat-icon>Record New Test</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="update-test"><mat-icon color="primary">update</mat-icon>Update Test Result</a>
  
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Tools</h2>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  
  </mat-nav-list>