<h1 [ngStyle]="{'font-size':'30px','text-align':'center'}">Register Test Centre</h1>
<mat-divider></mat-divider>
<br><br>
<div class="mat-card-cvr">
<mat-card>
  <form (submit)="onAddTestCentre(testCentreForm)" #testCentreForm="ngForm">
  <mat-form-field>
    <input
      matInput
      type="text"
      name="testCentreName"
      ngModel
      required
      minlength="3"
      #testCentreName="ngModel"
      placeholder="Test Centre Name">
      <mat-error *ngIf="testCentreName.invalid">Please enter a test centre name</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color = "accent"
    type="submit">Register</button>
  </form>
</mat-card>
</div>

