<h2 [ngStyle]="{'font-size':'30px','text-align':'center'}"> Recorded Test</h2>
<mat-divider></mat-divider>
<br><br>
<app-tester-post-list></app-tester-post-list>

<br><br>
<mat-divider> </mat-divider>

<h2 [ngStyle]="{'font-size':'30px','text-align':'center'}"> Update Test</h2>

<div class="mat-card-cvr">
    <mat-card class="mat-elevation-z10">
    <form (submit) = "onAddPost(form)" #form="ngForm">
      <mat-form-field [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
        <mat-label><mat-icon>person</mat-icon>&emsp;Username</mat-label>
        <input
        matInput
        type="text"
        name="username"
        ngModel
        required
        minlength="7"
        #username="ngModel"
        disabled>
        <mat-error *ngIf= "username.invalid"> Please enter a username for patient</mat-error>
      </mat-form-field>
  
      <mat-form-field [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
        <mat-label><mat-icon>lock</mat-icon>&emsp;Password</mat-label>
        <input
        matInput
        [type]="hide ? 'password' : 'text'" 
        name="password"
        placeholder=" Min 8 characters"
        ngModel
        required
        minlength="8"
        #password="ngModel"
        disabled>
        <button mat-icon-button style="font-size: 20px;" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-error *ngIf= "password.invalid"> Please create a password for patient.</mat-error>
      </mat-form-field>
  
      <mat-form-field [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
        <mat-label><mat-icon>account_box</mat-icon>&emsp;First name</mat-label>
      <input
      matInput
      type="text"
      name="firstName"
      required
      ngModel
      minlength="2"
      #firstName="ngModel"
      disabled>
      <mat-error *ngIf= "firstName.invalid"> Please enter patient's first name</mat-error>
    </mat-form-field>
  
    <mat-form-field [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
      <mat-label><mat-icon>account_box</mat-icon>&emsp;Last name</mat-label>
      <input
      matInput
      type ="text"
      name  = "lastName"
      required
      ngModel
      minlength="2"
      #lastName="ngModel"
      disabled>
      <mat-error *ngIf= "lastName.invalid">Please enter patient's last name</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill" [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
        <mat-label><mat-icon>face</mat-icon>&emsp;Patient Type</mat-label>
        <mat-select
        type = "select" 
        name  = "patientType"
        ngModel
        required
        #patientType="ngModel">
          <mat-option *ngFor="let patientType of patientTypes" [value]="patientType.value">
            {{patientType.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf= "patientType.invalid">Please at least select one</mat-error>
      </mat-form-field>
  
  
  
    <mat-form-field [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
      <mat-label><mat-icon>sick</mat-icon>&emsp;Symptoms</mat-label>
      <input
      matInput
      type ="text"
      name  = "symptoms"
      placeholder="Eg: Flu, Cough, Fever, Sore Throat or None"
      required
      ngModel
      #symptoms="ngModel">
      <mat-error *ngIf= "symptoms.invalid">Please enter patient's symptom</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" [ngStyle]="{'font-size':'17px','padding-bottom':'5px'}">
      <mat-label><mat-icon>library_add</mat-icon>&emsp;Result</mat-label>
      <mat-select
      type = "select" 
      name  = "result"
      ngModel
      required
      #result="ngModel">
        <mat-option *ngFor="let result of results" [value]="result.value">
          {{result.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf= "patientType.invalid">Please at least select one</mat-error>
    </mat-form-field>

    <hr>
      <button
        mat-raised-button
        color = "accent"
        type="submit">Update</button>
  
    </form>
  </mat-card>
  </div>