:host{
    display:block;
    margin-top: 1rem;
  }
  
  .info-text{
    text-align: center;
  }
  
  .centered{
    margin: 0 auto;
    width: 40%;
    text-align:center;
    text-align: center;
  }
  