<mat-accordion multi="true" *ngIf ="patient.length>0">
  <mat-expansion-panel *ngFor= "let patient of patient">
    <mat-expansion-panel-header>
      {{patient.firstName}}, {{patient.lastName}}
    </mat-expansion-panel-header>
    <p>{{patient.patientType}}, {{patient.symptoms}}</p>

    <mat-action-row>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn">Delete</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<p class = "info-text mat-body-1" *ngIf= "patient.length == 0"> No post added yet :(</p>

